.Chapters {
  &-list {
    & li {
      padding: 1rem;
      list-style-type: none;
      border-bottom: thin solid $light;
      border-left: medium solid transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all .3s ease-in-out;

      &:hover {
        border-left: medium solid $alert;
      }

      & span > * {
        padding: 0 .5rem;
      }
    }
  }
}
